/* variable colors */
:root{
  --bg-color: #1A5276;
  --color: #ffffff;
  --primary:#ff8c94;
  --secondary: #e36d7f;
  --text: #161616;
}

/*styling home page */
body{
  font-family: 'Tinos', sans-serif;
  background-color: var(--color);
  color: #333333;
  margin: 0;
  padding: 0;
}
h1,h2{
  font-family: 'Delius', sans-serif;
}

/*styling global header */
.global-header{
  background-color: var(--bg-color);
  color: var(--color);
  padding: 1rem 0;
}

.main-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.main-nav a{
  color: var(--color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3 ease;
}
.main-nav a:hover{
  color: var(--primary);
}

/*styling carousel */
.carousel-container{
  position: relative;
}
.carousel-slide{
  display: none;
  position: relative;
}
.carousel-slide.active{
  display: block;
}

.carousel-slide img{
  width: 100%;
  height: 85vh;
  object-fit: cover;
  object-position: 50% 10%;
}

.carousel-text{
  color: #ffffff;
  text-align: center;
  width: 85%;
  max-width: 700px;
  line-height: 1.3;
  border-radius: 12px;
  padding: 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.45);
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-text h1,
.carousel-text h2{
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.carousel-text p{
  font-size: 1.1rem;
  margin: 0;
}

.cta-btn{
  background-color: var(--primary);
  color: var(--color);
  padding: 0.8rem 1.8rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 1rem;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-btn:hover{
  background-color: var(--secondary)
}

.intro{
  text-align: center;
  padding: 3rem 2rem;
  background-color: #f9f6f1;
}

.intro h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.features{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 3rem 1rem;
}

.feature-card{
  background-color: var(--color);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  flex: 1 1 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.feature-card img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.feature-card h2{
  margin-top: 1rem;
  color: #333333;
}

.feature-crad p{
  font-size: 1rem;
  color: #555555;
}

footer{
  background-color: var(--bg-color);
  color: var(--color);
  text-align: center;
  padding: 1.5rem 0;
}

/*about page*/
.about-page {
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Delius', sans-serif;
}

.about-section h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom:1px;
  font-family:'Tinos', sans-serif;
  color: var(--text);
   
}

.about-section .about-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items:center;
  margin-bottom:none;
  padding-top: none;
}

.about-text-content {
  grid-column: 1 / 2;
}

.about-section .about-container p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1px;
}

.about-image-wrapper {
  grid-column: 2 / 3;
  padding: 20px;
  border-radius: 20px;  
}

.about-image-wrapper img {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 20px;
  object-fit: cover;
}

.about-mission-section {
  padding-top: 40px;
  border-top: 1px solid #eeeeee;
}

.about-mission-section .about-mission-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
}

.about-mission-section .about-mission-text h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text);
  margin-top: 0;
  margin-bottom: 15px;
}

.about-mission-section .about-mission-text p {
  font-size: 1rem;
  line-height: 1.6;
}

.about-mission-section .about-mission-image {
  grid-column: 1 / 2;
  padding: 5px;
  background-color: var(--color);
  border-radius: 20px;
}

.about-mission-section .about-mission-image img {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 20px;
  object-fit: cover;
  margin-top: none;
}

/*shop page*/
.shop-intro{
  text-align: center;
  padding: 3rem 2rem;
  background-color: #f9f6f1;
}

.shop-intro h1{
  font-family: 'Delius', sans-serif;
  font-size: 2rem;
  color: var(--bg-color);
  margin-bottom: 0.8rem;
}

.shop-intro p{
  color: #333333;
  font-size: 1.1rem;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 3rem 2rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card{
  background-color: var(--color);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3 ease, box-shadow 0.3s ease;
}

.product-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.product-card img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.product-card h2{
  font-family: 'Tinos', sans-serif;
  font-size: 1.2rem;
  color: #333333;
  margin: 1rem 0;
}

.view-btn{
  background-color: var(--primary);
  color: var(--color);
  font-weight: bold;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  margin: 1rem;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-btn:hover{
  background-color: var(--secondary);
}



/*login page*/
.admin-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f9f6f1;
}

.admin-container{
  background-color: var(--color);
  text-align: center;
  padding: 3rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-page h1{
  font-family: 'Delius', sans-serif;
  color: var(--bg-color);
  margin-bottom: 1.5rem;
}

.login-page form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-page label{
  font-family: 'Tinos', sans-serif;
  text-align: left;
  font-weight: 600;
  color: #333333;
}

.login-page input{
  font-size: 1rem;
  padding: 0.75rem;
  border: 2px solid #cccccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.login-page input:focus{
  border-color: var(--bg-color);
  outline: none;
}

.btn{
  background-color: var(--primary);
  color: var(--color);
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.btn:hover{
  background-color: var(--secondary);
}

/*register page*/
.register-box{
  margin-top: 1.5rem;
  color: #555555;
  font-size: 0.95rem;
}

.register-box a{
  color: var(--bg-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.register-box a:hover{
  color: var(--primary);
}

/*register*/
.admin-register{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f9f6f1;
}

.admin-register-container{
  background-color: var(--color);
  text-align: center;
  padding: 3rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rrgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

.register-page h1{
  font-family: 'Delius', sans-serif;
  color: var(--bg-color);
  margin-bottom: 1.5rem;
}

.register-page form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-page label{
  font-family: 'Tinos', sans-serif;
  text-align: left;
  font-weight: 600;
  color: #333333;
}

.register-page input{
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.register-page input:focus{
  outline: none;
  border-color: var(--bg-color);
}

.btn{
  background-color: var(--primary);
  font-size: 1rem;
  color: var(--color);
  padding: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.btn:hover{
  background-color: var(--secondary);
}

/*styling the contact page */
.contact-section {
  padding: 40px 5%;
  max-width: 900px;
  margin: 0 auto;
}

.contact-title {
  text-align: left;
  font-size: 1rem;
  color: var(--text);
  margin-bottom: 30px;
  font-family: 'Tinos' serif;
}

.form-intro {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333333;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Tinus', serif;
}

.contact-intro-text {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text);
  margin-bottom: 40px;
  font-family: 'Tinus', sans-serif;
}

.contact-form .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 30px 40px;
  margin-top: 0;
}

.contact-form .form-field,
.contact-form .message-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-grid #firstname {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.form-grid #lastname {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.form-grid #email {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.form-grid #details {
  grid-column: span 2;
  grid-row: 3 / 4;
}

.form-grid #country {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.contact-form .message-area {
  grid-column: 1;
  grid-row: 4 / 5;
  margin-top: 0px;
}

.contact-form label {
  font-size: 1rem;
  font-weight: 550;
  color: #333333;
  margin-bottom: 8px;
  font-family: 'Tinos', sans-serif;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
  border: 1px solid #959499 ;
  background-color: var(--color);
  border-radius: 4px;
  width: 100%;
  padding: 12px 15px;
  box-sizing: border-box;
  box-shadow: none;
  margin-bottom: 10px;
  line-height: 1.6;
}


.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  border-color: #888;
  box-shadow: none;
  outline: none;
}

.contact-form textarea {
  min-height: 90px;
  resize: vertical;
}

.submit-group {
  grid-column: span 2;
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.btn-primary {
  background-color: var(--bg-color);
  color: var(--color);
  padding: 10px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  box-shadow: none;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-primary:hover {
  background-color: var(--primary);
}


.contact-help-column{
  flex:1;
  min-width: 280px;
  max-width: 400px;
}
.contact-help{
  margin: 30px;
}
.help-heading{
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: 700;
}
.help-text{
  font-size: 1rem;
  color: #555555;
  line-height: 1.6;
  margin-bottom: 15px;
}
.contact-help-column{
  flex:1;
  min-width: 280px;
  max-width: 400px;
}
.contact-help{
  margin: 30px;
}

/*product page*/
.product-page{
  background-color: var(--color);
  padding: 60px 5%;
  font-family: 'Tinos', sans-serif;
  color: #333333;
}

.product-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 400px;
  max-width: 1100px;
  margin: 0 auto;
}

.product-image-gallery{
  position: relative;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.product-image{
  display: none;
  width: 100%;
  border-radius: 8px;
}

.product-image.active{
  display: block;
}

.gallery-nav{
  color: var(--color);
  font-size: 1.3rem;
  border-radius: 50%;
  padding: 10px 15px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  transition: background-color 0.3s ease;
}

.gallery-nav.prev {left: 10px;}
.gallery-nav.next {right: 10px;}
.gallery-nav:hover{
  background-color: var(--bg-color);
}

.product-info{
  flex: 1;
  min-width: 320px;
}

.product-info h1{
  font-family: 'Delius', sans-serif;
  font-size: 2rem;
  color:  #333333;
  margin-bottom: 10px;
}

.product-desc{
  font-size: 1rem;
  line-height: 1.6;
  color: #555555;
  margin-bottom: 20px;
}

.price-and-cart{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.price{
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--bg-color);
}

.buy-button{
  background-color: var(--bg-color);
  color: var(--color);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buy-button:hover {
  background-color: #154360;
}